/* Lesson.css */
.camera-container {
    position: relative;
    width: 400px; /* התאמת הרוחב לפי הצורך */
    height: 400px;
    margin: 0 auto; /* ממרכז אופקית */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* מרכז את כל האלמנטים בעמוד */
.camera-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ממלא את כל המסך */
    width: 100%;
}

.camera-feed {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.gesture-display {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.gesture-circle {
    width: 100%;
    height: 100%;
   
    border-radius: 50%;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1f2937;
}

.start-button {
    background-color: #3b82f6;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s;
}

.start-button:hover {
    background-color: #2563eb;
}
.points-display {
    font-size: 20rem; /* גודל טקסט מוגדל */
    font-weight: bold;
    color: #1f2937; /* צבע כהה */
}
.correct-message {
    font-size: 20rem; /* גודל טקסט מוגדל */
    font-weight: bold;
    color: #16a34a; /* צבע ירוק */
}

