/* הגדרה של המסגרת הגלקטית */
.levels-circle-wrapper {
    position: relative;
    width: 700px; /* גודל המסגרת */
    height: 700px; /* גודל המסגרת */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px; /* מרווח בין המעגל לסקשן ה-Poins */
}

/* עיצוב כפתורים במסלול גלקסיה */
.levels-button {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease-in-out, background-color 0.3s ease;
    border: none;
}

/* אפקט hover */
button:hover {
    transform: scale(1.1);
}

/* כפתור לא נגיש */
button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
}
