.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  gap: 20px; /* Adds space between main content sections */
  background-color: #ceeaf2;
}

.content-container {
  margin-bottom: 30px; /* Adds space below the welcome section */
}

.welcome-image {
  width: 100%;
  max-width: 600px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 20px auto; /* Adds space around the image */
  border-radius: 10px;
}

.start-lesson-button {
  margin-top: 20px; /* Adds space above the button */
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #b73466;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-lesson-button:hover {
  background-color: #9a2d58;
}

