/* AlphabetImage.css */
.alphabet-image-container {
    position: relative;
    height: 100vh; /* גובה מלא של המסך */
    width: 100%; /* רוחב מלא של המסך */
    overflow: hidden; /* להימנע ממעבר התמונה מעבר לגבולות */
}

.alphabet-image {
    position: absolute;
    top: 50%; /* ממקם את התמונה במרכז המסך */
    left: 50%; /* ממקם את התמונה במרכז המסך */
    transform: translate(-50%, -50%); /* ממורכזת על ידי שינוי המיקום */
    width: 100%; /* תתפוס 100% מהרחוב */
    height: 100%; /* תתפוס 100% מהגובה */
    object-fit: contain; /* התאמה גמישה של התמונה בתוך הקונטיינר, בלי חיתוך */
}
