/* AlphabetImage.css */
.alphabet-image-container {
   
    height: 100%; /* גובה מלא של המסך */
    width: 100%; /* רוחב מלא של המסך */
  
}

.alphabet-image {
    position: absolute;
   
    width: 100%; /* תתפוס 100% מהרחוב */
    height: 100%; /* תתפוס 100% מהגובה */
    object-fit: contain; /* התאמה גמישה של התמונה בתוך הקונטיינר, בלי חיתוך */
}
