.contact-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
  }
  .main-container {
    min-height: 82%;
    ;
    
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .send-button, .back-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .send-button:hover, .back-button:hover {
    background-color: #ff1493;
  }
  