/* About Page Styling */
.about-page {
  padding: 40px;
  font-size: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  color: #333;
  position: relative;
}


.about-page h1 {
  color: #b73466;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-page p {
  margin: 10px 0;
  line-height: 1.6;
}

.about-page span {
  font-size: 24px;
}

.contact {
  margin-top: 30px;
}

/* Menu Button Styling */
.HiddenButton {
  padding: 12px 24px;
  font-size: 18px;
  background-color: transparent;
  color: #b73466;
  border: 2px solid #b73466;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.HiddenButton:hover {
  background-color: #b73466;
  color: white;
  transform: scale(1.05);
}
