
.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.logo {
  width: 250px; /* גודל הלוגו */
  height: auto; /* שימור פרופורציות */
  display: block; /* לוודא שהלוגו יהיה בלוק */
  margin: 30px auto 30px auto; /* למרכז את הלוגו במרכז הדף */
  /* float: left;  */
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./background.png'); /* שים כאן את הרקע */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(9px); /* דרגת הטשטוש */
  z-index: 0;
}
.sign-in-container {
  width: 25%; /* Slightly wider for better accessibility */
  height: 45%; /* Adjusted for better fit */

  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  padding: 2%;
  border: 1px solid #d1d1d1; /* Lighter border */
  border-radius: 8px;
  background-color: #ffffff; /* White background for clarity */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.welcome-text {
  font-style: normal;
  text-align: center;
  font-size: 2.5em;
  color: #c729a5; /* Fuchsia Pink color */
  position: relative;
  font-family: 'Georgia', sans-serif;
}

.welcome-text h2 {
  font-size: 2.5em;
}

.additional-info {
  text-align: center;
  font-size: 2em;
  position: relative;
  font-family: 'Georgia', 'Bold';
  color: #1f4e79; /* Light gray text for secondary info */
  font-weight: 540;
 
}

.additional-info p {

  line-height: 2.5;
  color: #1f4e79;
  font-size: 1em;
}

.form-group {
  margin-bottom: 5%;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  font-size: 1.2em;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #1f4e79; /* Indigo Blue (denim blue) */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 5%;
}
.blue-button {
  width: 100%;
  padding: 15px;
  background-color: #1f4e79; /* Indigo Blue (denim blue) */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 5%;
}

.blue-button:hover {
  background-color: #153b5e; /* Darker shade of the blue for hover effect */

}

.green-button {
  width: 70%;
  padding: 12px;
  background-color: #b73466;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 15%;
  margin-top: 15%;
  
}

.green-button:hover {
  background-color: #790071;
}

/* Modal customization */
.modal-content .close {
  color: #f6f6f6;
}

.modal-content .close:hover {
  color: #555;
}
